{% load admin_static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% trans "Subjects" %}{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css" />
    <script src="/static/bootstrap/assets/js/jquery.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />

{#    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />#}
{#    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>#}

    {% block extrastyle %}{% endblock %}
</head>
<body>

    {% block menu %}
        {% include "menu.html" %}
    {% endblock %}

    <div class="content">
        {% block content %}
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    {% include "footer.html" %}

    {% block footerhtml %}{% endblock %}
</body>
</html>

